{% extends 'base.html' %}                                                                                                                                                                                          
{% block content %}
{% load static %}
  <div class="mdl-grid">
    <div class="mdl-card__supporting-text mdl-grid">
      <h3 class="mdl-color-text--primary">Program Committee</h3>
    </div>
    <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{% static 'main_app/img/committee/placeholder.png' %}" id="faculty_img" />
      </div>
      <div class="mdl-cell--10-col">
        <h4 class="mdl-cell mdl-cell--12-col mdl-color-text--primary">Makan  Pourzandi</h4>
        <h6 class="mdl-cell mdl-cell--12-col mdl-color-text--accent">GFTE  Ericsson  Research  Security, Ericsson Canada</h6>
        <div class="mdl-card__actions mdl-card--border"></div>
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{% static 'main_app/img/committee/placeholder.png' %}" id="faculty_img" />
      </div>
      <div class="mdl-cell--10-col">
        <h4 class="mdl-cell mdl-cell--12-col mdl-color-text--primary">Raj  Cherchattik</h4>
        <h6 class="mdl-cell mdl-cell--12-col mdl-color-text--accent">CTO  Telecom,  Media  &  Entertainment, IBM Canada Ltd.</h6>
        <div class="mdl-card__actions mdl-card--border"></div>
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{% static 'main_app/img/committee/placeholder.png' %}" id="faculty_img" />
      </div>
      <div class="mdl-cell--10-col">
        <h4 class="mdl-cell mdl-cell--12-col mdl-color-text--primary">Walter Miron</h4>
        <h6 class="mdl-cell mdl-cell--12-col mdl-color-text--accent">Director, Technology Strategy, Telus</h6>
        <div class="mdl-card__actions mdl-card--border"></div>
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{% static 'main_app/img/committee/placeholder.png' %}" id="faculty_img" />
      </div>
      <div class="mdl-cell--10-col">
        <h4 class="mdl-cell mdl-cell--12-col mdl-color-text--primary">Erone Quek</h4>
        <h6 class="mdl-cell mdl-cell--12-col mdl-color-text--accent">Director, Broadband  and  IP  Core  Networks, Bell Canada</h6>
        <div class="mdl-card__actions mdl-card--border"></div>
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{% static 'main_app/img/committee/placeholder.png' %}" id="faculty_img" />
      </div>
      <div class="mdl-cell--10-col">
        <h4 class="mdl-cell mdl-cell--12-col mdl-color-text--primary">Rod Wilson</h4>
        <h6 class="mdl-cell mdl-cell--12-col mdl-color-text--accent">Sr.  Director,  External  Research  &  Incubation  Programs, Ciena</h6>
        <div class="mdl-card__actions mdl-card--border"></div>
      </div>
    </div>
  </div>
{% endblock %}
