{% extends 'base.html' %}
{% block content %}
  <h2 class="mdl-color-text--primary" id="cheesy_line"> CREATE Your Future in Networks and Applications!</h2>
  <div class="mdl-grid">
    <div class="mdl-grid">
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary">Overview</h3>
        <div class="mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <h6 id="index_h6s">
        Network Softwarization encompasses technologies that are transforming how network and computing infrastructures are designed and operated to deliver services and applications with greater versatility, agility and cost effectiveness. Network Softwarization technologies provide the foundation for the 5G network architecture that will support future mobile, broadband, and IoT applications.</h6>
        </div>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary">Objective</h3>
        <div class="mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <h6 id="index_h6s">Network Softwarization requires an entirely new set of skills from the engineers that design and operate networks. The objective of the NetSoft CREATE training program is to meet this critical need in the Canadian telecom industry. Our goal is to prepare graduates with a fundamental understanding and practical experience in SDN and NFV along with the communication and teamwork skills that allow them to integrate smoothly and contribute immediately to the success of Canadian companies.</h6>
        </div>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary">Technologies</h3>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4 class="mdl-color-text--accent" style="font-weight: 600;">SDN</h4><h6  style=" font-size: 18px;">Software-Defined Networking (SDN) enables faster innovation by making the network programmable.</h6>
          </div>
          <div class="mdl-card__actions mdl-card--border"></div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4 class="mdl-color-text--accent" style="font-weight: 600;">NFV</h4><h6 style=" font-size: 18px;">Network Function Virtualization (NFV) allows network equipment, such as routers, firewalls, and intrusion detection systems, to be replaced with software running on commodity hardware.</h6>
          </div>
          <div class="mdl-card__actions mdl-card--border"></div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4 class="mdl-color-text--accent" style="font-weight: 600;">MANO</h4><h6 style=" font-size: 18px;">Management and Orchestration (MANO) systems enable the real-time provisioning of network functions.</h6>
          </div>
          <div class="mdl-card__actions mdl-card--border"></div>
          <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h4 class="mdl-color-text--accent" style="font-weight: 600;">APPLICATIONS</h4><h6 style=" font-size: 18px;">5G Networks, Internet of Things, Cloud Computing, Edge Computing</h6>
          </div>
      </div>
    </div>
    <div style="width:1000px;" class="mdl-grid mdl-grid mdl-cell--10-col-desktop">
      <div style="width:200px; margin-bottom: 5px;" class="mdl-grid demo-card-image mdl-card mdl-shadow--2dp">
        <div id="uoft_logo" class="mdl-card__title mdl-card--expand"></div>
      </div>
      <div style="width:200px; margin-bottom: 5px;" class="mdl-grid demo-card-image mdl-card mdl-shadow--2dp">
        <div id="waterloo_logo" class="mdl-card__title mdl-card--expand"></div>
      </div>
      <div style="width:200px; margin-bottom: 5px;" class="mdl-grid demo-card-image mdl-card mdl-shadow--2dp">
        <div id="ets_logo" class="mdl-card__title mdl-card--expand"></div>
      </div>
      <div style="width:200px; margin-bottom: 5px;" class="mdl-grid demo-card-image mdl-card mdl-shadow--2dp">
        <div id="laval_logo" class="mdl-card__title mdl-card--expand"></div>
      </div>
    </div>
  </div>
{% endblock %}
