{% extends 'base.html' %}                                                                                                                                                                                          
{% block content %}
{% load static %}  
  <div class="mdl-grid">
    <div class="mdl-card__supporting-text mdl-grid">
      <h3 class="mdl-color-text--primary" id="cheesy_line" style="line-height:32px;">INTERNSHIP PORTAL</h3>
    </div>

    {% if errors %}
      <div class="mdl-card__supporting-text mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
          <h5><b>{{ errors }}</b></h5>
        </div>
      </div>
    {% endif %}
    
    <div class="mdl-card__supporting-text mdl-grid">
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--8dp" style="background-color:white;">
            <form method="post" action="{% url 'signin' %}">
              {% csrf_token %}
              <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h2 class="mdl-card__title-text">Login</h2>
              </div>
              {% for field in signInForm %}
              <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" name="{{ field.html_name}}" type="{{field.html_name}}"/>
                  <label class="mdl-textfield__label">{{ field.label_tag }}</label>
                </div>
              </div>
              {% endfor %}
              <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="login">Sign In</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col"></div>
      <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--8dp" style="background-color:white;">
            <form method="POST" action="{% url 'signup' %}">
              {% csrf_token %}
              <div class="mdl-card__title mdl-color--accent mdl-color-text--white">
                <h2 class="mdl-card__title-text">Create Account</h2>
              </div>
              {% for field in createAccountForm %}
              <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" name="{{ field.html_name}}" type="{{field.html_name}}"/>
                  <label class="mdl-textfield__label">{{ field.label_tag }}</label>
                </div>
              </div>
              {% endfor %}
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <div class="g-recaptcha" data-sitekey="6Le_lXAUAAAAAPoVrwjDFLGHDnClamTlcnzzXN5d"></div>
              <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Create Account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
   </div>
{% endblock %}
