{% extends 'base.html' %}                                                                                                                                                                                          
{% block content %}
{% load static %}   
  <div class="mdl-grid">
    <div class="mdl-grid">
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary">PROGRAM</h3>
        <div class="mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <h6 id="index_h6s">The NSERC CREATE program prepares graduates using four components:</h6>
          <div style="padding-bottom: 0px;" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons">chevron_right</i>
              <span>Core graduate courses covering fundamental concepts and practice in network softwarization.  These courses are open to all graduate students at the participating universities that meet the appropriate pre-requisites;</span>
            </span>
          </div>
          <div style="padding-bottom: 0px;" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons">chevron_right</i>
              <span>Internships in industry provide practical and in-depth experience;</span>
            </span>
          </div>
          <div style="padding-bottom: 0px;" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons">chevron_right</i>
              <span>Professional Development short courses prepare the student for practice in business and industry;</span>
            </span>
          </div>
          <div style="padding-bottom: 0px;" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons">chevron_right</i>
              <span>Graduate students in research-oriented program can participate in research projects at the participating universities and are eligible for NetSoft CREATE fellowships.</span>
            </span>
          </div>
          <h6 style="font-size: 18px;">To access all of the above components of the program, graduate students must apply for admission to the NetSoft CREATE program, below</h6>
          <h6 id="index_h6s"><a href="./under_construction.html">Application for Admission to the Program</a></h6>
        </div>
      </div>
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary" id="course_courses" style="line-height: 32px;">Core Courses on Network Softwarization</h3>
      </div>
      <div class="mdl-grid">
        <div class="mdl-card__supporting-text mdl-grid mdl-shadow--8dp" style="background-color:white;">
          <div class="mdl-card__supporting-text">
            <h4 class="mdl-color-text--accent">Network Softwarization: Principles and Foundations (Theory & Design)</h4>
            <h6 style=" font-size: 18px;">
            This course introduces concepts and principles of Network Softwarization. The course is offered simultaneously at four universities: University of Toronto, University of Waterloo, Université Laval and École de technologie supérieure.
            </h6>
            <h6 style="color:black;">Students must successfully complete this course in order to qualify for CREATE industry internships in the area of Network Softwarization. </h6>
          </div>
          <div class="mdl-card__actions">
            <a href="./principles_foundations.html" class="mdl-button"> Read more</a>
            <a target="_blank" href="https://piazza.com/uwaterloo.ca/winter2018/cs798001/home" class="mdl-button"> Piazza Link</a>
          </div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-card__supporting-text mdl-grid mdl-shadow--8dp" style="background-color:white;">
          <div class="mdl-card__supporting-text">
            <h4 class="mdl-color-text--accent">Technologies and Enablers (Software skills)</h4>
            <h6 style=" font-size: 18px;">
            This course provides an opportunity to develop software skills in SDN and NFV through lab exercises and design challenges. The course is offered simultaneously at four universities: University of Toronto, University of Waterloo, Université Laval and École de technologie supérieure.
            </h6>
            <h6 style="color:black;">Students must successfully complete this course in order to qualify for CREATE industry internships in the area of Network Softwarization. </h6>
          </div>
          <div class="mdl-card__actions">
            <a href="./technology_enablers.html" class="mdl-button"> Read more</a>
            <a target="_blank" href="https://piazza.com/uwaterloo.ca/winter2018/cs798002/home" class="mdl-button"> Piazza Link</a>
          </div>
        </div>
      </div>  
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary" id="internships">Internships</h3>
      </div>
      <div class="mdl-grid" style="width: 100%">
        <div class="mdl-card__supporting-text mdl-grid mdl-shadow--8dp" style="background-color:white;">
          <div class="mdl-card__supporting-text">
            <h4 class="mdl-color-text--accent">Internships in Industry to address Network Softwarization challenges </h4>
            <div class="mdl-list" style="font-size: 18px;">
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Our industry partners are actively involved in the development and deployment of SDN and NFV.</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Each graduate student in the NetSoft CREATE program has an internship with an industry partner.</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>The typical internship project is in collaboration with the partner, and with prior agreement may be related to the student’s academic research.</span>
                </span>
              </div>
            </div>
          </div>
          <div class="mdl-card__actions mdl-grid">
            <a href="./under_construction.html" class="mdl-button"> Apply for Internship</a>
          </div>
        </div>
      </div>
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary" id="professional_development">Professional Development</h3>
      </div>
      <div class="mdl-grid" style="width: 100%">
        <div class="mdl-card__supporting-text mdl-grid mdl-shadow--8dp" style="background-color:white;">
          <div class="mdl-card__supporting-text">
            <h4 class="mdl-color-text--accent" style="width:100%;">Professional Development to prepare for career in industry</h4>
            <h6 style="width:100%;">Soft skills are essential for graduates to function successfully in industry and business environments.
            </h6>
            <h5 style="width:100%;">NetSoft CREATE organizes workshops to develop competencies in: 
            </h5>
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons">chevron_right</i>
                <span>Career professionalism</span>
              </span>
            </div>                   
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons">chevron_right</i>
                <span>Communication skills</span>
              </span>
            </div>                   
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons">chevron_right</i>
                <span>Presentation skills</span>
              </span>
            </div>                   
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons">chevron_right</i>
                <span>Teamwork</span>
              </span>
            </div>                   
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons">chevron_right</i>
                <span>Project Management</span>
              </span>
            </div>                   
            <div class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons">chevron_right</i>
                <span>Entrepreneurship</span>
              </span>
            </div>                   
          </div>
          <div class="mdl-card__actions">
            <a href="./under_construction.html" class="mdl-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary" id="research">Research</h3>
      </div>
      <div class="mdl-grid">
        <div class="mdl-card__supporting-text mdl-grid mdl-shadow--8dp" style="background-color:white;">
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <h4 class="mdl-color-text--accent">Research on SDN, NFV, Network Management</h4>
            <div class="mdl-list" style="font-size: 18px;">
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>The NetSoft faculty are involved in a rich set of research activities that are advancing SDN, NFV, and emerging Network management technologies.</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Research-oriented graduate students have an opportunity to complement their preparation with the practical training offered by NetSoft.</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Practice-oriented graduate students gain an excellent exposure to leading-edge research that will impact future industry designs and practices.</span>
                </span>
              </div>
            </div>
          </div>
          <div class="mdl-card__actions">
            <a href="./under_construction.html" class="mdl-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
