{% extends 'base.html' %}                                                                                                                                                                                          
{% block content %}
{% load static %}   
  <div class="mdl-grid">
    <div class="mdl-grid">
      <div class="mdl-card__supporting-text mdl-grid">
        <h3 class="mdl-color-text--primary">Network Softwarization: Technologies and Enablers</h3>
      </div>
      <div class="mdl-grid">
        <div class="mdl-card__supporting-text mdl-grid mdl-shadow--8dp" style="background-color:white;">
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <h4 class="mdl-color-text--accent">Objective</h4>
            <h6 style="font-size: 18px;">
            This course provides an opportunity to develop software skills in SDN and NFV through lab exercises and design challenges. The course is offered simultaneously at four universities: University of Toronto, University of Waterloo, Université Laval and École de technologie supérieure.
            </h6>
            <h6 style="color:black;">Students must successfully complete this course in order to qualify for CREATE industry internships in the area of Network Softwarization.</h6> 
          </div>
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <h4 style="width: 100%;" class="mdl-color-text--accent">Schedule</h4>
            <h6 style="font-size: 18px;">
            The course is offered in weekly lectures and interactive sessions (remotely attended by students in other universities) including live exercises and homework lab assignments.
            </h6>
          </div>
          <div class="mdl-card__actions">
              <a target="_blank" href="https://piazza.com/uwaterloo.ca/winter2018/cs798002/home" class="mdl-button"> Piazza Link</a>
          </div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-card__supporting-text mdl-grid">
          <h3 class="mdl-color-text--primary">Outline</h3>
        </div>
        <div class="mdl-card__supporting-text mdl-grid mdl-shadow--8dp" style="background-color:white;">
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <h4 class="mdl-color-text--accent" style="width:100%;">Part 1: Software-Defined Networking</h4>
            <div class="mdl-list" style="font-size: 18px;">
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>SDN data plane – Open vswitch & Mininet tutorial and lab. (Week 1)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>SDN control plane – ONOS tutorial and lab. (Week 2)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>SDN network virtualization – FlowVisor & OVX tutorial and lab. (Week 3)</span>
                </span>
              </div>
            </div>
          </div>
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <h4 class="mdl-color-text--accent" style="width: 100%;">Part 2: Software-Defined Optical WAN and Radio Access</h4>
            <div class="mdl-list" style="font-size: 18px;">
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>5G Fronthaul – capacity of various optical network solutions (Week 4)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>OFDM – flex grid and dynamic allocation of bandwidth (Week 5)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Spatial Multiplexing – commutation of WDM/SDM (Week 6)</span>
                </span>
              </div>
            </div>
          </div>
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <h4 class="mdl-color-text--accent" style="width: 100%;">Part 3: Sustainable Management of Clouds and Networks</h4>
            <div class="mdl-list" style="font-size: 18px;">
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Cloud Computing – OpenStack tutorial and lab. (Week 7)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Data Analytics – Cloud workload classification/prediction lab. (Week 8)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Energy efficient and sustainable management – Green ICT tutorial (Week 9)</span>
                </span>
              </div>
            </div>
          </div>
          <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <h4 class="mdl-color-text--accent" style="width: 100%;">Part 4: Network Function Virtualization and Orchestration</h4>
            <div class="mdl-list" style="font-size: 18px;">
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Programmable Networks – Service orchestration & chaining lab. (Week 10)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>Network Function Virtualization – Federation tutorial and lab. (Week 11)</span>
                </span>
              </div>                   
              <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons">chevron_right</i>
                  <span>IoT, Smart Cities, and 5G Use Cases – IoT applications lab. (Week 12)</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
{% endblock %}
