{% extends 'base.html' %}                                                                                                                                                                                          
{% block content %}
{% load static %}   
  <div class="mdl-grid" style="margin-bottom: 200px;">
    <div class="mdl-card__supporting-text mdl-grid">
      <h3 class="mdl-color-text--primary" style="line-height:32px;">Page under construction</h3>
      <div class="mdl-card__supporting-text mdl-shadow--8dp" style="background-color:white;">
        <h5 class="mdl-color-text--accent">
          Please contact the Program Coordinator: Vladimiro Cirillo for any questions.
          <a href="mailto:v.cirillo@utoronto.ca">
          <button class = "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ><i class = "material-icons">mail</i></button> v.cirillo@utoronto.ca</a>
        </h5>
      </div>
    </div>
  </div>
{% endblock %}
